body {
  margin: 0;
}

/****************   Nav Section **********************/
nav {
	background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

/***********************  Footer Section   **************************/
footer {
	display: flex;
  justify-content: center;
  background-color: bisque;
  border-color: black;
  border-style: dotted;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 235, 210);
  padding-bottom: 30px;
  border-style: groove;
  border-color: black;
}

header h1 {
  font-family: "Geo", serif;
  font-size: 3rem;
  color: #0a7500;
}

header img {
  border-radius: 50%;
}

.address {
 font-weight: bold;
 text-align: center;
}

.tagline {
  font-style: italic;
  text-align: center;
}

/************* Sections ********************/
hr {
  width: 50%;
  border-color: black;
}

section h3 {
  color: #ba0000;
  font-family: Zen Dots, cursive;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}


section ul {
  list-style-type: square;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

section a {
  color: rgb(226, 43, 43);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card img {
  width: 200px;
  height: 100px;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(184, 184, 184, 0.304);
  border-radius: 5px; /* 5px rounded corners */
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

input {
  margin-bottom: 30px;
}

textarea {
  width: 50%;
  height: 150px;
  margin-bottom: 30px;
}

nav > p > a {
  color: inherit;
  text-decoration: none;
}